<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Mongoose Naturals App</title>
<style>
    h1 {
        text-align: center;
        color: beige;
        background-color: rgb(202, 140, 140);
        margin: 50px;
        padding: 10px;
        border: 1px, solid;
        border-radius: 7px;
        border-color: transparent;
        box-shadow: -1px 1px #835959;
    }
    body {
        background-color: rgb(140, 175, 140);
        color: #332323;
    }
</style>