<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Mongoose Naturals App</title>
<style>
    h1, h3, .card {
        text-align: center;
        color: beige;
        background-color: rgb(202, 140, 140);
        margin: 50px;
        padding: 10px;
        border: 1px, solid;
        border-radius: 7px;
        border-color: transparent;
        box-shadow: -1px 1px #835959;
    }
       .card { 
           width: 400px;
       }

    /* h3 {
        color:#332323;
        text-align: center;
        text-decoration: none;
        margin: 10px 0px 5px 0px;
    }  */
   
    a {
        color:#332323;
        text-decoration: none;
    }

    a:hover {
        color: beige;
        text-decoration: underline;
    } 

    body {
        background-color: #645858ce;
        color: #332323;
    } 
    
    img {
        border-radius: 7px;
        box-shadow: -1px 1px rgb(101, 131, 89);
    }
    ul {
        list-style-type: none;
    }
    /* .card {
        background-color: rgb(202, 140, 140);
        text-align: center;
        padding: 5px;
    } */
    /* #sProduct {
        border: 6px solid yellow;
    } */
    /* . = class # = id  */

    
</style>