<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products Home Page</title>
</head>
<body>
    <h1>Product Index</h1>
    <ul>
		<% products.forEach(product => { %>
			<li>
				<a href="/products/<%= product._id %>"> <%=product.name %> </a>
				<form action="/products/<%=product.id %>?_method=DELETE" method="POST">
					<input type="submit" value="DELETE"/>
				</form>
				<a href="/products/<%=product._id %>/edit">Edit</a>
			</li>
		<% }) %>
	</ul>
</body>
</html>