<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('./partials/head.ejs') %>
</head>
<!-- <body>
  <nav>
    <a href="/products">Back to Products Index</a>
</nav>
  <form action="./models/products" method="POST"></form>
  <div id="container">
    <p><input type="text" placeholder="Enter New Product"></p>
    <button type="submit" value="Add New Item"></button>
    

  </div>
</body> -->
</html>