<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('./partials/head.ejs') %>
</head>
<body>
  <form action="./models/products" method="POST"></form>
  <div id="container">
    <label for="name"><%= product.name %> </label>
  </div>
</body>
</html>