<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('./partials/head.ejs') %>
  <title>MSN | New</title>
</head>
<body>
  <header>
      <h1>Add New Product</h1>
      </header>
      <nav>
          <ul>
              <li>
                  <a href="/">Home</a>
              </li>
              <li>
                  <a href="/products"> Index</a>
              </li>
          </ul>
      </nav>
  </header>
  <main>
      <form action="/products" method="POST">
          <label for="name">name: </label>
          <input type="text" placeholder="name" name="name"/>
          <br />
          <label for="description">description: </label>
          <input type="text" placeholder="description" name="description"/>
          <br />
          <label for="img">imgurl: </label>
          <input type="text" placeholder="imgurl" name="img"/>
          <br />
          <label for="price">price: $</label>
          <input type="number" placeholder="price" name="price"/>
          <br />
          <label for="qty">qty: </label>
          <input type="number" placeholder="qty" name="qty"/>
          <br />
          <input type="submit" value="Add Product">
      </form>
  </main>
</body>
</html>